*, *:before, *:after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 375px;
  margin: 0 auto;
  position: left;
  background-color: white;
}

body {
  background-color: #d8d8d8;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 16px;
  width: 375px;
  display: inline-block;
  margin: 10px;
}

nav {
  background-color: #FFFFFF;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #ffffff;
  padding-top: 2px;
}

h1 {
  display: inline-block;
  padding-left: 99px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 1em;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
}

h2 {
  font-weight: 550;
  font-size: 17px;
  padding-left: 20px;
}

h3 {
  font-size: 14px;
  font-weight: lighter;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
}


.container {
  box-sizing: border-box;
  width: 375px;
  margin: 0 auto;
  background-color: white;
}

.status_bar {
  position: absolute;
}

.arrow_left {
  display: inline-block;
  font-size: 1.3em;
  color: #0464CB;
  padding-top: 35px;
  padding-left: 7px;
}

.filter {
  display: block;
  height: 70px;
  width: 375px;
  background-color: #0464CB;
}

.custom-select {
  border: 1px solid #ccc;
  font-size: 14px;
  width: 355px;
  border-radius: 3px;
  overflow: hidden;
  background: #ebebec;
  margin-left: 10px;
  margin-top: 10px;
}

.custom-select select{
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.custom-select select: focus {
  outline: none;
}

.custom-selected:before {
  position: relative;
  content: "";
  right: 10px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f00;
}

.select-selected:after {
  position: relative;
  content: "";
  top: 14px;
  right: 200px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: 20px #000 solid;
}

.direction {
  background-color: #70ABEB;
  height: 28px;
  padding-top: 5px;
}

.centered {
  text-align: center;
  font-size: 1.1em;
  margin-top: -27px;
}


.bus_bar {
  position: relative;
  text-align: center;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

.bus_num {
  position: absolute;
  bottom: 18px;
  left: 20px;
}

.bus_eta {
  position: absolute;
  bottom: 18px;
  right: 66px;
}

.bus_dest {
  position: absolute;
  bottom: 18px;
  left: 120px;
}

.bus_info {
  display: block;
  height: 59px;
  background-color: white;
  border-bottom: .25px solid #C8C7CC;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.nested {
  display: grid;
  padding-top: 8px;
}

.number {
  text-align: left;
  font-size: 0.9em;
  font-weight: lighter;
  margin-left: 20px;
  width: 20%;
  float: left;
  margin-top: 25px;
}

.destination {
  text-align: left;
  font-size: 0.9em;
  font-weight: 550;
  width: 100%;
  margin-top: 25px;
}

.eta {
  text-align: left;
  font-size: 0.9em;
  font-weight: 550;
  padding-top: 4px;
}

.frequency {
  font-size: 0.9em;
  font-weight: lighter;
  text-align: left;
  padding-top: 6px;
}

.eta_center {
  font-size: 0.9em;
  font-weight: lighter;
  margin-left: 0px;
  width: 40%;
  padding-top: 15px;
  text-align: left;
}
